{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>ABA QR</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta name="author" content="PayWay">
    <link rel="icon" href="{% static 'app/images/favicon.ico' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'app/css/style.css' %}">
    <script src="https://telegram.org/js/telegram-web-app.js"></script>
    <script src="{% static 'app/js/script.js' %}"></script>
    <script src="{% static 'app/js/checking-token.js' %}"></script>
    <script src="{% static 'app/js/active-token.js' %}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>

</head>
<body class="bg-gray-100 flex items-center justify-center min-h-screen">
    <div id="aba_main_modal" class="aba-modal">
        <div class="aba-modal-content">
            <form method="POST" target="aba_webservice" action="{{ api_key }}" id="aba_merchant_request">
                {% csrf_token %}
                <input type="hidden" name="req_time" value="{{ req_time }}">
                <input type="hidden" name="merchant_id" value="{{ merchant_id }}">
                <input type="hidden" name="tran_id" value="{{ tran_id }}">
                <input type="hidden" name="amount" value="{{ amount }}">
                <input type="hidden" name="payment_option" value="{{ payment_option }}">
                <input type="hidden" name="currency" value="{{ currency }}">
                <input type="hidden" name="continue_success_url" value="{{ continue_success_url }}">
                <input type="hidden" name="hash" value="{{ hash }}">
            </form>
        </div>
    </div>

    <div class="bg-white shadow-lg rounded-lg p-6 w-96 text-center">
        <h3 class="text-lg font-semibold text-gray-700 mb-4">
            To display QR code, please click the GET QR button.
        </h3>
        <input type="button" id="checkout_button" value="GET QR"
               class="bg-blue-500 text-white font-medium py-2 px-4 rounded-lg hover:bg-blue-600 transition">
        <button class="mt-3 bg-gray-400 text-white font-medium py-2 px-4 rounded-lg hover:bg-gray-500 transition"
                onclick="goBackToTransactionPageFromHistoryPage('{{ currency }}')">
            Back
        </button>
    </div>

    <script src="https://checkout.payway.com.kh/plugins/checkout2-0.js"></script>
    <script>
        $(document).ready(function () {
            if (!sessionStorage.getItem("checkout_done")) { 
                setTimeout(function () {
                    AbaPayway.checkout();
                    sessionStorage.setItem("checkout_done", "true"); 
                }, 2000);
            }
            $("#checkout_button").click(function () {
            AbaPayway.checkout();
            });
        });
    </script>
</body>
</html>