{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirm Transaction</title>
    <link rel="icon" href="{% static 'app/images/favicon.ico' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'app/css/style.css' %}">
    <script src="https://telegram.org/js/telegram-web-app.js"></script>
    <script src="{% static 'app/js/script.js' %}"></script>
    <script src="{% static 'app/js/checking-token.js' %}"></script> 
    <script src="{% static 'app/js/active-token.js' %}"></script>

</head>
<body onload="disableBackButton()">
    <div class="confirm_transaction_container">
        <div class="details">
            <p class="format">Date</p>
            <p class="format">Currency</p>
            <p class="format">Amount</p>
            <p class="format-value" id="datetime-index">{{ server_time }}</p>
            <p class="format-value">{{ currency }}</p>
            <p class="format-value">{{ amount }}</p>           
        </div>

        <form action="" method="POST">
            {% csrf_token %}
            <input type="hidden" id="telegram_username" name="telegram_username">
            <input type="hidden" id="telegram_id" name="telegram_id">
            <div class="bank-type">
                <p class="bank-label">Select payment</p>

                {% for bank_name, creds in bank_credentials.items %}
                    <button type="button" class="bank-btn" onclick="refreshAccessToken(); redirectToQRPage('{{ bank_name }}', '{{ amount }}', '{{ currency }}');">
                        <img src="{% static 'app/images/'|add:bank_name|lower|add:'-logo.png' %}" alt="{{ bank_name }} Logo" style="width: 80px; height: 80px; border-radius: 5px;">
                    </button>
                {% endfor %}
            </div>
    
            <div class="cancel-btn-class">
                <button type="button" class="cancel-btn" onclick="refreshAccessToken(); goBackToTransactionPageFromConfirmPage();" data-currency="{{ currency }}">Cancel</button>
            </div>
        </form>

    </div>
</body>

</html>
