{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Creat Your PIN</title>
    <link rel="stylesheet" type="text/css" href="{% static 'app/css/style.css' %}">
    <script src="https://telegram.org/js/telegram-web-app.js"></script>
    <script src="{% static 'app/js/script.js' %}"></script>

</head>
<body>
    <div class="create-pin-container">
        <div id="user-info-create-pin-page">Use in TG Bot</div>
        <div class="title-create-pin">Please create you PIN</div>
        <form id="create-pinForm" method="POST" action="{% url 'create-pin' %}">
            {% csrf_token %}    
            <input type="hidden" id="telegram_username" name="telegram_username">
            <input type="hidden" id="telegram_id" name="telegram_id">
            <input class="create-pin-input" type="text" id="create-pin" name="create-pin" maxlength="8" oninput="this.value = this.value.replace(/[^0-9]/g, '');" placeholder= "Create PIN" inputmode="none" autofocus>

            {% if error_message %} 
            <p style="color: red; padding: 0px; margin-bottom: -30px;">{{ error_message }}</p>
            {% endif %}

            <div class="numpad-create-pin">
                <button type="button" class="numpad-create-pin-btn" onclick="addCreatePinNumber(7)">7</button>
                <button type="button" class="numpad-create-pin-btn" onclick="addCreatePinNumber(8)">8</button>
                <button type="button" class="numpad-create-pin-btn" onclick="addCreatePinNumber(9)">9</button>
                <button type="button" class="numpad-create-pin-btn" onclick="addCreatePinNumber(4)">4</button>
                <button type="button" class="numpad-create-pin-btn" onclick="addCreatePinNumber(5)">5</button>
                <button type="button" class="numpad-create-pin-btn" onclick="addCreatePinNumber(6)">6</button>
                <button type="button" class="numpad-create-pin-btn" onclick="addCreatePinNumber(1)">1</button>
                <button type="button" class="numpad-create-pin-btn" onclick="addCreatePinNumber(2)">2</button>
                <button type="button" class="numpad-create-pin-btn" onclick="addCreatePinNumber(3)">3</button>
                <button type="button" class="numpad-create-pin-btn clear-create-pin-btn" onclick="clearCreatePinNumber()">DEL</button>
                <button type="button" class="numpad-create-pin-btn" onclick="addCreatePinNumber(0)">0</button>
                <button type="submit" class="numpad-create-pin-btn create-pin-btn">CREATE</button>
            </div>
        </form>
    </div>

</body>
</html>