{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QR JUMP</title>
    <link rel="icon" href="{% static 'app/images/favicon.ico' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'app/css/style.css' %}">
    <script src="https://telegram.org/js/telegram-web-app.js"></script>
    <script src="{% static 'app/js/script.js' %}"></script>

</head>

<body onload="disableBackButton()">
    <div class="container">
        <div class="username_timestamp">
            <div id="user-info-transaction">Use in TG Bot</div>
            <div class="time-stamp" id="datetime-index">{{ server_time }}</div>
        </div>
        <form action="{% url 'check_login' %}" method="POST">
            {% csrf_token %}
            <input type="hidden" id="csrf-token" value="{{ csrf_token }}">
            <input type="hidden" id="telegram_username" name="telegram_username">
            <input type="hidden" id="telegram_id" name="telegram_id">
            <input type="password" id="pin" name="pin" maxlength="10" oninput="this.value = this.value.replace(/[^0-9]/g, '');" placeholder="Enter PIN" inputmode="none" autofocus>

            {% if error_message %} 
            <p style="color: red; padding: 0px; margin-bottom: -30px;">{{ error_message }}</p>
            {% endif %}
 
            <div class="numpad">
                <button type="button" class="numpad-btn" onclick="addNumber(7)">7</button>
                <button type="button" class="numpad-btn" onclick="addNumber(8)">8</button>
                <button type="button" class="numpad-btn" onclick="addNumber(9)">9</button>
                <button type="button" class="numpad-btn" onclick="addNumber(4)">4</button>
                <button type="button" class="numpad-btn" onclick="addNumber(5)">5</button>
                <button type="button" class="numpad-btn" onclick="addNumber(6)">6</button>
                <button type="button" class="numpad-btn" onclick="addNumber(1)">1</button>
                <button type="button" class="numpad-btn" onclick="addNumber(2)">2</button>
                <button type="button" class="numpad-btn" onclick="addNumber(3)">3</button>
                <button type="button" class="numpad-btn clear-index-btn" onclick="clearNumber()"></button>
                <button type="button" class="numpad-btn" onclick="addNumber(0)">0</button>
                <button type="submit" class="numpad-btn go-btn">NEXT</button>
            </div>
        </form>
    </div>
</body>
</html>